<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Sporting Goods Store</title>
</head>
<body>
    <h1>Sports R Us</h1>
    <a href="/product/new"><button>Add A New Product</button></a>
    <main>
        <% for (product of products) { %>
            
            <article>
                <a href="/product/<%= product._id %>"><img src="<%= product.img %>"/></a>
                <h2><%= product.name %></h2>
                <h4>$<%= product.price %></h3>
            </article>



        <% } %>
    </main>
</body>
</html>